.options{
    position:relative;
    width:170px;
    height: 170px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width: 160px;
        height: 160px;
        transform-origin: 80px 80px;
        fill: transparent;
        position: absolute;
        .s1 {
            
            fill: green;
        }
        .s2{
            fill:black;
        }
        .s3{
            fill:red;
        }
        .s4{
            fill:blue;
        }
        path:hover &{
            width:170px;
            height:170px
        }
    }
}
