.options{
    position:relative;
    width:160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        transform-origin: 80px 80px;
        position: absolute;
        fill: transparent;
        path{
            transition:all 100ms;
            transform-origin:80px 80px;
        }
    }

    .sections:nth-child(2){
        top:35px;
        left:105px;
    }
    .sections:nth-child(3){
        top:98px;
        left:125px;
    }
    .sections:nth-child(4){
        top:100px;
        left:55px;
    }
    .sections:nth-child(5){
        top:35px;
        left:30px;
    }
    .sections{
        z-index: 2;
        position:absolute;
        img{
            height:40px;
            user-select: none;
            -webkit-user-drag: none;
        }
        .hidden{
            display:none;
            position: relative;
            img{
                position:absolute;
                height:27px;
                user-select: none;
                -webkit-user-drag: none;
            }
        }
    }
}
