.options{
    position:relative;
    width:160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        width:100px;
        height:100px;
        transform-origin: 80px 85px;
        position: absolute;
        fill: transparent;
        .s1 {
            
            fill: green;
        }
        .s2{
            fill:black;
        }
        .s3{
            fill:red;
        }
        .s4{
            fill:blue;
        }
        
    }
    svg:nth-child(1){
        transform:translate(5px,0px) rotate(52.5deg);
    }
    
    svg:nth-child(2){
        transform:translate(5px,0px) rotate(115.5deg);

    }
    svg:nth-child(3){
        transform:translate(5px,0px) rotate(190.6deg);

    }
    svg:nth-child(4){
        transform:translate(5px,0px) rotate(307deg);

    }
}