$red:rgb(194, 22, 22);
$shadow1: rgb(153, 153, 153);
$shadow2: rgb(200, 200, 200);
$hover:rgb(176, 176, 176);

body{
    background-color: rgb(100,100,100);
}
#whitePage{
    background-color: white;
    width:840px;
    height:1188px;
    position:absolute;
    left:50%;
    transform: translate(-50%,0%);
    top:150px;
}
.row{

    position:relative;
    width:90%;
    height:50px;
    left:50%;
    transform: translate(-50%,0%);
}
.line{
    padding:2px 0px;
}
.space,.spaceLine{
    height:4px;
}
.key{
    height: 70px;
}
.blackline{
    height:1px;
    width:100%;
    background-color: black;
}
#secret{
    display:none;
}
#Nadpis{
    font-size: 30px;
    position: absolute;
    min-width:200px;
    text-align: center;
    top:50px;
    left:50%;
    transform: translate(-50%,0%);
}
#MusicBY{
    position: absolute;
    top:120px;
    right:150px;   
    min-width:100px;

}
#Arranged{
    position: absolute;
    top:150px;
    right:150px;
    min-width:100px;   
}
#tools{
    z-index: 5;
    width:300px;
    height:150px;
    background-color:$red;
    position: fixed;
    top:100px;
    left:50px;
    display:grid;
    grid-template-columns: repeat(6,40px) ;
    grid-template-rows: repeat(3,40px);
    gap:10px;
    padding: 10px;
}

.tool{
    cursor: pointer;
    border-radius: 10px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tool img{
    height: 35px;
}
.nota{
    position:absolute;
    z-index:2;
    width:20px;
    height:20px;
    display:flex;
    align-items: center;
    justify-content: center;
}
.t{
    z-index:-1;
}
.line, .space{
    position:relative;
}
.blackline{z-index: -2;position: relative;}
.tempo{
    display:flex;
    align-items: center;
    position: absolute;
    top:-10px;
    left:40px;
}

#mainBar{
    top:0;
    left:0;
    position: fixed;
    width:100%;
    height:100px;
    z-index: 5;
    background-color: rgb(200, 200, 200);
    display:flex;
    align-items: center;
    padding:5px 20px;
    font-family: Arial, Helvetica, sans-serif;
    #stupniceBar{
        text-align: center;
        width:450px;
        background-color:var($shadow2);
        padding: 10px;   
        display:flex;
        align-items: center;
        flex-direction: column;
        font-size: 20px;
    }
    #dynamics{
        position:relative;
        width:fit-content;
        height:100px;
        display:grid;
        grid-template-columns: repeat(5,1fr);
        grid-template-rows: 25px 25px;
        align-content: center;
        align-items: stretch;
        img{
            height:auto;
        }
        img:hover{
            background-color: rgb(173, 173, 173);
        }
    }
}   
.cell{
    height:75px;
    width:60px;
    text-align: center;
    align-items: center;
    font-size: 14px;
    padding:5px;
    border-left:1px solid rgb(155, 155, 155);
    img{
        cursor: pointer;
        padding: 5px;
        height:50px;
        user-select: none;
    }
}
.dynDIV{
    position:absolute;
    img{
        padding:5px;
        height:15px;
    }
}
.KEYS{
    display:flex;
    justify-content: space-around;
    width:150px;
    align-items: center;
    img:hover{
        background-color: $hover;
    }
}

.takt{
    height: 42px;
    cursor: pointer;
}
.takt:hover{
    opacity:0.6;
}
#Tacts{
    position: absolute;
    top:300px;
    width:210px;
    height:110px;
    background-color: $shadow2;
    padding:5px;
    display:none;
    z-index:5;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(2, 1fr);
}
#Tacts img{
    height:50px;
    padding:2px;
    border-radius: 5px;
    cursor: pointer;
}
#Tacts img:hover{
    background-color: $hover;
}

.cImg{
    cursor: pointer;

}
.konecniTakt{
    position:absolute;
    right:-6px;
    top:33px;
    height:46px;
}
.posuvka{
    height:30px;
    position: absolute;
    left:-15px;
}
.znamenko{
    height:30px;
    position:absolute;
    left:-1px;
}
.stupniceL{
    margin-top:50px;
    margin-bottom:30px;
    width:400px;
    height:3px;
    background-color: black;
    position: relative;
}
.stupnice{
    height:10px;
    width:2px;
    background-color: black;
    position: absolute;
    top:-5px;
    display:flex;
    justify-content: center;
}

#keysBar{
    display:none;
    z-index:6;
    width:180px;
    height:80px;
    background-color: var($shadow2);
    position:fixed;
    top:120px;
    left:50px;
    padding:10px;
    align-items: center;
    justify-content: space-around;
    font-size: 20px;
}
#keysBar img{
    height:60px;
    border-radius:10px;
}
#keysBar img:hover{
    background-color: var($hover);
}
.textstupnice{
    font-size: 14px;
    position: relative;
    top:10px;
}
#UkazatelDS{
    cursor: pointer;
    height:25px;
    position: absolute;
    left:200px;
    transform: translate(-50%,0%);
}
.preznamenani{
    height:70px;
}
.preznamenani img{
    height: 70px;
}
.naLince{
    position: absolute;
    top:22px;
    left:0px;
    width:fit-content;
    display:flex;
    align-items: center;
}
.optionsDyn{
    position:relative;
    width:160px;
    z-index: -5;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        left:-60px;
        top:-95px;
        transform-origin: 80px 80px;
        position: absolute;
        fill: transparent;
        path{
            transition:all 100ms;
            transform-origin:80px 80px;
        }
    }
    .sections{
        z-index: 2;
        position:absolute;
        img{
            height:20px;
            user-select: none;
            -webkit-user-drag: none;
        }
        .hidden{
            display:none;
            position: relative;
            img{
                cursor:pointer;
                position:absolute;
                height:15px;
                user-select: none;
                -webkit-user-drag: none;
            }
        }
    }
}
.options{
    position:relative;
    width:160px;
    height: 160px;
    display: flex;
    justify-content: center;
    align-items: center;
    svg{
        left:-80px;
        transform-origin: 80px 80px;
        position: absolute;
        fill: transparent;
        path{
            transition:all 100ms;
            transform-origin:80px 80px;
        }
    }
    .sections{
        z-index: 2;
        position:absolute;
        img{
            height:40px;
            user-select: none;
            -webkit-user-drag: none;
        }
        .hidden{
            display:none;
            position: relative;
            img{
                cursor:pointer;
                position:absolute;
                height:27px;
                user-select: none;
                -webkit-user-drag: none;
            }
        }
    }
}
#DruhyKolmichLinek{
    display:none;
    height:120px;
    width:138px;
    position: absolute;
    z-index: 1;

    div{
        display: flex;
        align-items: center;
        position: absolute;
        bottom:0px;
        justify-content:space-around;
        width:fit-content;
        height:50px;
        padding:5px;
        background-color: $shadow2
    }
    img{
        border-radius: 5px;
        height:50px;
        
    }
    img:hover{
        background-color: $hover;
    }
}
#settings-Gear-Wheel{
    position:absolute;
    right:5em;
    width:2em;
    height:2em;
    padding:0.2em;
    cursor: pointer;
}
#settings-Gear-Wheel:hover{
    background-color: $hover;
}
#settings-Menu{
    display:none;   

    #krizek{
        z-index:51;

        cursor: pointer;
        position: absolute;
        right:1em;
        top:1em;
        width:1.7em;
    }
    #krizek:hover{
        background-color: $hover;
    }
    #settings-Side-Menu{
        padding:1em;
        background-color: $shadow1;
        height:calc(100% - 2em);
        width:25%;
    }
    .settings-Side-Menu-Button{
        padding:0.5em;
        cursor: pointer;

    }
    .settings-Side-Menu-Button:hover{
        color:#c8c8c8;
    }
    .settings-Side-Menu-Line{
        transition:width 300ms ease;
        background-color: #c8c8c8;
        height:1px;   
        width:0em;   
    }
    #settings-Menu-background{
        position: fixed;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        width:40em;
        height:30em;
        background-color: $shadow2;
        box-shadow: 0px 0px 10px black;
        font-family: Arial, Helvetica, sans-serif;

    }
    #settings-Side-Parameters{
        position:absolute;
        top:0px;
        right:0px;
        margin-top:10px;
        padding:1em;
    }
    #settings-Side-Parameters table tr td:nth-child(1){
        width:240px
    }
    #settings-Side-Parameters table tr td:nth-child(2){
        text-align: center;
    }
    #settings-Side-Parameters table tr td:nth-child(3) svg{
        background-color: rgb(242,242,242);
        padding:1px 2px;
        border-radius: 5px;
        box-shadow:1px 1px 2px black;
        cursor:pointer;
        visibility: hidden;
        float:right;
    }
    #settings-Side-Parameters table tr td:nth-child(3){
        width:70px
    }
    #settings-Side-Parameters table tr:hover td:nth-child(3) svg{
        visibility: visible;
    }
    #settings-Side-Parameters table tr svg{
        width:20px
    }
    .settings-input{
        width:10em;
        height:4em;
        background-color: rgb(100,100,100);
        position: absolute;
        top:50%;
        left:50%;
        transform: translate(-50%,-50%);
        box-shadow:0px 0px 10px black; 
        text-align: center;
        font-size: 2em;
        font-family:Arial, Helvetica, sans-serif;
        padding:1em
    }
    .settings-touched{
        margin-top:1em;
        font-size:1em;
        font-family: Arial, Helvetica, sans-serif;
    }
    .settings-input-save, .settings-input-exit{
        width:fit-content;
        padding:0.1em;
        background-color: $shadow2;
        border-radius: 0.1em;
        position:absolute;
    }
}
.neviditelnazed{
    position:absolute;
    top:0;
    bottom:0;
    left:0;
    right:0;
    z-index:50;
    background: transparent;
}