body{
    background-color: rgb(100,100,100);
}
#whitePage{
    background-color: white;
    width:840px;
    height:1188px;
    position:absolute;
    left:50%;
    transform: translate(-50%,0%);
    top:100px;
}
.row{

    position:relative;
    width:90%;
    height:50px;
    left:50%;
    transform: translate(-50%,0%);
}
.line{
    padding:2px 0px;
}
.space{
    height:4px;
}
.houslovyKEY{
    position: absolute;
    top:-10px;
    left:0px;
    height:70px    
}
.basovyKEY{
    position: absolute;
    top:0px;
    left:0px;
    height:50px    
}
.blackline{
    height:1px;
    width:100%;
    background-color: black;
}
#Nadpis{
    font-size: 30px;
    position: absolute;
    min-width:200px;
    text-align: center;
    top:50px;
    left:50%;
    transform: translate(-50%,0%);
}
#MusicBY{
    position: absolute;
    top:120px;
    right:150px;   
    min-width:100px;

}
#Arranged{
    position: absolute;
    top:150px;
    right:150px;
    min-width:100px;   
}
#tools{
    z-index: 5;
    width:250px;
    height:300px;
    background-color: rgb(158, 50, 50);
    position: fixed;
    top:200px;
    left:50px;
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr 1fr 1fr;
    gap:10px;
    padding: 10px;
}

.tool{
    border-radius: 10px;
    background-color: white;
    display:flex;
    justify-content: center;
    align-items: center;
}
.tool img{
    height: 35px;
}
.nota{
    position:absolute;
    height:35px;
    top: -27px;
    z-index:-1
}
.line, .space{
    position:relative;
}
.blackline{z-index: -2;}